<%layout('layouts/boilerplate')    -%>
<h1>Post index!</h1>

<div>
    <% posts.docs.forEach((post)=>{ %>
    <h2><%=post.title%></h2>
    <p><%=post.price%></p>
    <p><%=post.description%></p>
    <a href="/posts/<%=post.id%>">View More</a>
    <% })%>



</div>

<%include ../partials/paginatePost%>